.container {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.title {
    text-align: center;
    margin: 35px 0px 45px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.container ul {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
}

.container ul li {
    padding: 5px;
}

.bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95rem;
    padding: 0 10%;
}

a {
    text-decoration: none;
    color: white;
}