<div class="container">
        <div>
        <input [(ngModel)]="newQuote" placeholder="Введите цитату">
        <button (click)="addQuote()">Добавить цитату</button>
      </div>
      <div>
        <input [(ngModel)]="newLink" placeholder="Введите ссылку на ресурс">
        <button (click)="addLink()">Добавить ссылку на ресурс</button>
        </div>

        <div>
            <button (click)="setInfo('bio')">Биография</button>
            <button (click)="setInfo('links')">Ссылки</button>
            <button (click)="setInfo('quotes')">Цитаты</button>
          </div>
          
          <div [ngSwitch]="infoType">
            <div *ngSwitchCase="'bio'">
              <bill-gates-bio [bio]="bio"></bill-gates-bio>
            </div>
            <div *ngSwitchCase="'links'">
              <bill-gates-links [links]="links"></bill-gates-links>
            </div>
            <div *ngSwitchCase="'quotes'">
              <bill-gates-quotes [quotes]="quotes"></bill-gates-quotes>
            </div>
          </div>
</div>